table {
            border-collapse: collapse;
        }

        td {
            vertical-align: top;  
            padding: 20px;
        }

        .left-column {
            width: 70%;
            background-color: azure;
        }

        .right-column {
            width: 30%;
            background-color: lightblue;
        }

        p
        {
            font-size: 30px;
            font-family: Arial;
        }

        h1, h2
        {
            font-family: Georgia;
            font-size: 40px;
            color: darkblue;
        }

        a:link
            {
                color: darkcyan;
                background-color: transparent;
                text-decoration: none;
                font-size: 25px;
            }

            a:visited
            {
                color: rebeccapurple;
                font-size: 25px;
            }

            a:hover
            {
                color: midnightblue;
                background-color: whitesmoke;
                font-size: 30px;
            }
